<flynt-component 
  load:on="visible" name="BlockPostHeader" 
  class="w-full mx-auto flex flex-col justify-between items-center">
  <div class="wrapper max-w-screen-max mx-auto">
    <div class="flex flex-col lg:flex-row-reverse items-stretch min-h-[550px] h-full relative">
      <div class="w-auto lg:w-1/2 lg:absolute right-0 min-h-[550px] h-full fade-in-bg" style="background-image: url('{{ post.thumbnail.src }}'); background-size: cover; background-position: center;">
      </div>
      <div class="w-full lg:w-1/2 h-full flex flex-col justify-between boxed !ml-0">
        <div class="flex flex-col justify-start gap-md">
          <div class="flex flex-col justify-start gap-xs">
            {% set postCategories = post.terms('category') %}
            {% for term in postCategories %}
              <span class="font-bold">{{ term|upper }}</span>
            {% endfor %}
            <div class="font-h2">{{ post.title }}</div>
          </div>
          <div class="wysiwyg" style="color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};">
            {{ post.postIntro }}
          </div>
        </div>
      </div>
    </div>
  </div>
</flynt-component>
